@import "./theme.scss";

#container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../public/markus-lang-1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .subtitle {
    font-size: 45px;
    line-height: 45px;
    @media (max-width: $mobile) {
      font-size: 30px;
    line-height: 30px;
    }
  }

  section {
    margin: 16px 0;
  }

  .color {
    font-weight: 700;
    color: $light-accent;
    &:hover {
      background-size: 200% 200%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }
  }

  #content-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-left: 10vw; /* Responsive margin using viewport units */

    @media (max-width: $desktop) {
      margin-left: auto;
      width: 100vw;
    }
  
  }

  #left-container {
    flex: 3;
    overflow-y: auto;
    padding: 2.5vw; /* Responsive padding using viewport units */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    color: $light-shades;
  
    @media (max-width: $desktop) {
      flex: 1;
    }

    @media (max-width: $mobile) {
      padding: 0;
    }
  
    a {
      &:hover {
        color: $brand;
        text-decoration: underline;
      }
    }
  
    #left-scroll {
      width: 100%;
      padding: 25px;
      overflow-y: scroll;
      background-color: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      scroll-padding: 25px;
    }
  }
  

  #right-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: $light-shades;
    height: 100%;

    @media (max-width: $desktop) {
      flex: 0;
    }

    #right-scroll {
      width: 100%;
      padding: 25px;
      text-align: right;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: $xsmobile) {
        flex-direction: row-reverse;
      }

      #menu {
        width: 100%;
        @media (max-width: $mobile) {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-end;
          button {
            font-size: 16px !important;
          }
        }
        @media (max-width: $xsmobile) {
          display: unset !important;
          text-align: left;
        }

      }
    }
  }

  @media (max-width: $mobile) {
    #content-wrapper {
      flex-direction: column-reverse;
    }

    #left-container,
    #right-container {
      width: 100%;
      height: auto;
    }

    #right-scroll,
    #left-scroll {
      padding: 50px;
    }
  }

  @media (max-width: $mobile) {
    #content-wrapper {
      flex-direction: column-reverse;
    }

    #left-container,
    #right-container {
      width: 100%;
      height: auto;
    }

    #right-scroll,
    #left-scroll {
      padding: 5vw; /* Responsive padding using viewport units */
    }
  }
}
